.input__form_credentials {
  background-color: unset;
  color: var(--color-text);
  border: solid 2px var(--color-border);
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

.input__form_credentials::placeholder {
  color: var(--color-muted);
}
