.header__log-btn{
  width: fit-content;
  border: none;
  background-color: unset;
  color: var(--color-primary);
  cursor: pointer;
  justify-self: center;
}

.header__log-btn:hover {
  color: var(--color-primary-hover);
}
